section:nth-child(2){
    background: #DCEAF5;
    height: 750px;
}
.headerMember{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
}
.headerMember img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.header{
    display: flex;
    width: 100%;
    height: 750px;
    align-items: center;
    justify-content: space-between;
}
.headerImg img{
    width: 650px;
    height: 500px;
    border-radius: 30px;
}
.headerText h3{
    color: #1D3444;
    font-size: 4rem;
    width: 550px;
    line-height: 70px;
    margin: 0 0 40px 0;
}
.headerText p{
    width: 550px;
    color: #5B5B5B;
    line-height: 28px;
}
.buttons a {
    color: #F58A07;
    margin-right: 10px;
}
.buttons:after {
    content: "\2192";
    color: #F58A07;
}
/* Section 2*/
.allBlog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.latestSection h4{
    font-size: 3rem;
}
.blogItem{
    background: #EDF7FF;
    border-radius:20px;
    height: 530px;
    width: 400px;
    margin-bottom: 40px;
}
.blogItem img{ 
    border-radius:20px 20px 0 0;
}
.blogContent h5{
    font-size: 1.5rem;
    color: #0D1317;
    font-weight: 500;
    height: 72px;
    width: 335px;
    margin: 0 0 20px 0;
}
.blogContent p{
    color: #5B5B5B;
    height: 72px;
    width: 335px;
    line-height: 30px;
}
.blogContent{
    padding: 30px;
}
.blogButtons{
    height: 50px;
    width: 150px;
    margin-top: 35px;
}
.blogButtons a {
    color: #F58A07;
}
.blogButtons:after {
    content: "\2192";
    color: #F58A07;
    margin-left: 5px;
}