.blogHead img{
    margin-top: 100px;
}
.blogMember {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.blogMember img {
    width: 32px;
    height: 32px;
}
.blogText {
    max-width: 750px;
    width: 100%;
    margin: auto;
}
.blogText h3 {
    font-size: 65px;
    line-height: 70px;
    color: #1D3444;
    margin: 30px 0;
}

.blogText h4 {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 30px;
}

.blogText p {
    line-height: 28px;
    color: #5B5B5B;
}





