.job {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.careerHeader h2 {
    color: #1D3444;
    font-size: 4rem;
}

.jobLeft {
    width: 640px;
}

.jobright {
    width: 165px;
}

.firstText {
    font-size: 1.5rem;
    font-weight: 500;
}

.secondText {
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
}

/* section 2*/
.careerDetails {
    background: #C1E4FF4D;
    height: 435px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

.details .first {
    color: #F58A07;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.details .second {
    color: #0D1317;
    font-weight: 500;
    font-size: 1.6rem;
}

.detailTexts {
    width: 850px;
    height: 310px;
}

.detailTexts p {
    color: #5B5B5B;
    line-height: 28px;
}

.details {
    height: 310px;
}

/* section 3*/
.applySection h3 {
    font-size: 3rem;
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inputpr {
    color: #9C9C9C;
    font-family: 'Inter', sans-serif;
    background: #D2DAED2B;
    width: 625px;
    height: 55px;
    padding: 15px 0 5px 25px;
    border-radius: 30px;
    border: 0;
    font-size: 16px;
    margin-bottom: 20px;
    
}
.item {
    width: 1280px;
    height: 215px;
    font-family: 'Inter', sans-serif;
    background: #D2DAED2B;
    padding: 0 0 100px 25px;
    border-radius: 30px;
    border: 0;
    font-size: 16px;
    margin-bottom: 30px;
}

.careerbutton a {
    color: #ffffff;
}

.careerbutton {
    background: #F58A07;
    border-radius: 31px;
    width: 120px;
    height: 55px;
    padding: 13px 0 0 30px;
}