.contactHeader{
    display: flex;
    margin-top: 50px;
}
.contactLeft h2{
    width: 570px;
    font-size: 3rem;
    color: #1D3444;
}
.contactLeft p{
    width: 530px;
    color: #5B5B5B;
    font-size: 18px;
}
.contactRight{
    display: flex;
    justify-content: space-between;
    width: 505px;
    align-items: center;
    margin-left: 70px;
}
.location{
    width: 300px;
}
.contact{
    width: 160px;
}
.contactRight h3{
    font-size: 1.5rem;
    color: #0D1317;
    font-weight: 500;
}
.contactRight p{
    color: #5B5B5B;
    font-size: 18px;
    line-height: 30px;
}
/*Section 2*/
.contactSection{
    display: flex;
    justify-content: space-between;
}
.input{
    background: #D2DAED2B;
    width: 610px;
    height: 60px;
    border-radius: 30px;
    border: 0; 
    padding: 17px 30px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.inputmessage{
    background: #D2DAED2B;
    width: 610px;
    height: 160px;
    border-radius: 30px;
    border: 0;
    padding: 0 0 80px 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.map img{
    border-radius: 30px;
    width: 620px;
    height: 390px;
}
.contactbutton{
    background: #F58A07;
    width: 120px;
    height: 55px;
    border-radius: 30px;
    padding: 14px 30px;
    margin-top: 50px;
}
.contactbutton a{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
