section:nth-child(4){
    background: #DCEAF5;
    height: 820px;
}
/* section 1*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105%;
    height: 730px;
}
.headerText h2 {
    color: #1D3444;
    font-weight: 600;
    font-size: 4rem;
    line-height: 70px;
    margin-top: 0;
    width: 650px;
}
.headerText p {
    color: #5B5B5B;
    line-height: 30px;
    width: 650px;
}
.headerImg {
    background: url(../images/Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 650px;
}
.buttons {
    background: #F58A07;
    width: 199px;
    height: 55px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons a {
    color: white;
}
.headerOrange {
    background: #F58A07;
    mix-blend-mode: multiply;
    position: absolute;
    width: 180px;
    height: 650px;
    border-radius: 20px 0 0 20px;
}
/* section 2*/
.feature-1 {
    display: flex;
    margin-bottom: 100px;
}
.feature-2 {
    display: flex;
    margin-bottom: 100px;
}
.feature-3 {
    display: flex;
    margin-bottom: 100px;
}
.feature-4 {
    display: flex;
    margin-bottom: 100px;
}
.feature-5 {
    display: flex;
}
.featureImg-1 {
    background-image: url(../images/Feature-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 550px;
    position: relative;
}
.featureImg-2 {
    background-image: url(../images/Feature-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 550px;
    position: relative;
}
.featureImg-3 {
    background-image: url(../images/Feature-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 550px;
    position: relative;
}
.featureImg-4 {
    background-image: url(../images/Feature-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 550px;
    position: relative;
}
.featureImg-5 {
    background-image: url(../images/Feature-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 550px;
    position: relative;
}
.featureText {
    width: 600px;
    padding: 50px
}
.featureText h3 {
    font-size: 47px;
}
.featureText p {
    color: #5B5B5B;
    font-size: 18px;
}
.featureText ul {
    color: #5B5B5B;
}
.orange-1{
    background: #F58A07;
    width: 95px;
    height: 97px;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;
    top: 150px;
    left:-40px;
}
.orange-2{
    background: #F58A07;
    width: 95px;
    height: 97px;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;
    right: -45px;
    top: 250px;
}
.orange-3{
    background: #F58A07;
    width: 95px;
    height: 97px;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    left:-40px;
}
.orange-4{
    background: #F58A07;
    width: 95px;
    height: 97px;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;
    right: -45px;
    top: 250px;
}
.orange-5{
    background: #F58A07;
    width: 95px;
    height: 97px;
    mix-blend-mode: multiply;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    left:-40px;
}
.featureText ul{
    list-style-type: disc;
    color: #0D1317;
    line-height: 28px;
}
/* section 3*/
.blogItem {
    display: flex;
    justify-content: space-between;
    width:1300px;
    align-items: end;
    height: 550px;
}
.latestNews h6 {
    font-size: 45px;
    margin: 0px;
    display: flex;
    align-items: end;
    height: 150px;
}
.itemContent img{
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 230px;
}
.blogBg h6 {
    font-size: 24px;
    color: #0D1317;
    font-weight: 500;
    height: 72px;
    width: 335px;
    margin: 0 0 20px 0;
}
.blogBg p {
    color: #5B5B5B;
    width: 340px;
    line-height: 30px;
}
.blogButtons{
    height: 50px;
    width: 150px;
    
}
.blogButtons a {
    color: #F58A07;
}
.blogButtons:after {
    content: "\2192";
    color: #F58A07;
    margin-left: 5px;
}
.latestSection{
    margin-bottom: 0;
}
.itemContent{
    background: #FFFFFF;
    border-radius:20px;
    height: 507px;
    width: 400px;
}
.blogBg{
    padding: 30px;
}
