footer {
    background: #063255;
    height: 470px;
    color: aliceblue;
}
.FooterTop {
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.FooterTop h6 {
    font-size: 18px;
    margin-bottom: 20px;
}
footer ol {
    list-style: none;
    line-height: 40px;
    padding: 0;
}
footer a {
    color: aliceblue;
}
.FooterLeft{
    width: 350px;
    height: 200px;
}
.FooterLeft p {
    font-size: 35px;
    font-weight: 600;
}
.Company{
    width:95px ;
    height: 200px;
}
.Connect{
    width:150px;
    height: 200px;
}
.subscribe{
    width: 350px;
    height: 200px;
}
.Input p{
    background: #FFFFFF;
    color: #9C9C9C;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}
.FooterButton p{
    background: #F58A07;
    width: 160px;
    height: 55px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FooterBottom {
    display: flex;
    justify-content: space-between;
}
.FooterLink {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.BottomText:before{
    content: "\00A9";
    margin-right: 5px;
}
