section:nth-child(2){
    background: #DCEAF5;
    height: 750px;
}
.HeaderMember{
    display: flex;
    width: 400px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.HeaderMember img{
    width: 32px;
    height: 32px;
}
.HeaderMember h2{
    font-size: 16px;
    font-weight: 400;
}
.Header{
    display: flex;
    width: 600px;
    height: 450px;
}
.HeaderImg{
    width: 650px;
    height: 500px;
    border-radius: 20px;
}