.navbar {
    display: flex;
    height: 80px;
    align-items: center;
}
h1 {
    color: #063255;
    width: 550px;
    height: 28px;
    display: flex;
    justify-content: start;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 550px;
    height: 20px;
    justify-content: space-around;
    font-weight: 600;
}
header a {
    color: #063255;
}
.button {
    padding: 15px 20px 30px 25px;
    width: 170px;
    height: 54px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
}
.button a {
    color: #F58A07;
}