.test{
    background-color: #DCEAF5;
    height: 700px;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}
section:nth-child(2),
section:nth-child(4) {
    background: #DCEAF5;
    height: 700px;
}
.headerText {
    width: 600px;
}
.headerText h2 {
    color: #1D3444;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
}
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Headerimg {
    height: 620px;
    width: 750px;
}
.HeaderPar {
    color: #5B5B5B;
    line-height: 30px;
}
.buttons {
    background: #F58A07;
    width: 170px;
    height: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons a {
    color: white;
}
.buttonservice {
    display: flex;
    width: 330px;
    height: 60px;
    justify-content: space-between;
    align-items: end;
}
.worked {
    display: flex;
    height: 50px;
    align-items: end;
}
.Headerlogos {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
/* section2 ehlew*/
.HelpSection h2 {
    font-size: 50px;
    width: 60%;
    font-weight: 600;
    color: #1D3444;
    line-height: 55px;
    height: 210px;
    display: flex;
    align-items: end;
}
.HelpSection p {
    font-size: 16px;
    width: 60%;
    color: #5B5B5B;
    display: flex;
    height: 80px;
}
.HelpPosts {
    display: flex;
}
.Help {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.Help img {
    border-radius: 20px;
    width: 90%;
    height: 230px;
}
.Help h3 {
    font-size: 27px;
    color: #0D1317;
    font-weight: 500;
    height: 20px;
}
.Help p {
    color: #5B5B5B;
    width: 380px;
    line-height: 30px;
}

.HelpButtons a {
    color: #F58A07;
}
.HelpButtons:after {
    content: "\2192";
    color: #F58A07;
    width: 35px;
}
.HelpButtons {
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.HelpSection {
    height: 930px;
}
/* section 3 ehlew*/
.mainfeaures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}
.mainfeaures h4 {
    font-size: 35px;
    width: 49%;
    color: #0D1317;

}
.mainfeaures p{
    width: 40%;
    height: 150px;
    color: #1D3444;
    font-size: 18px;
}
.FeauresSquare {
    background: #FFFFFF;
    width: 30%;
    height: 280px;
    border-radius: 20px;
    padding:40px ;
}
.Feaures {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FeauresSquare img {
    width: 43px;
    height: 40px;
}
.FeauresSquare h4 {
    font-size: 25px;
    color: #0D1317;
    height: 50px;
    width: 80%;
    margin: 5px 0;

}
.FeauresSquare p {
    line-height: 28px;
    width: 100%;
}
/* section 4 ehlewe*/
.AboutSection {
    display: flex;
    height: 1000px;
    align-items: center;
    width: 1280px;
}
.AboutSection img {
    width: 1400px;
    height: 700px;
    border-radius: 20px;
}
.AboutText {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.AboutText h5 {
    width: 90%;
    line-height: 65px;
    font-size: 45px;
    margin-bottom:30px ;
}
.AboutText p {
    width: 90%;
    line-height: 28px;
    margin: 0;
    color: #5B5B5B;
}
.AboutFeature {
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 400px;
}
.Aboutt h5 {
    color: #F58A07;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    display: flex;
    height: 10px;
    align-items: start;
}
.Aboutt h6 {
    color: #0D1317;
    font-size: 25px;
    height: 4px;
}
.Aboutt p {
    line-height: 30px;
}
.orange{
    background: url(./images/about-image.png), #F58A07;
    background-blend-mode: multiply;
    width:255px;
    height: 700px; 
    background-size: cover;
}
/* section 5 ehlewe*/
.ServiceSection {
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
}
.ServiceText {
    width: 48%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ServiceSection img {
    width: 470px;
    height: 460px;
}
.ServiceText ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-around;
}
.ServiceText li {
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid #A8BCCC;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.ServiceText h6{
    width: 600px;
    line-height: 65px;
    font-size: 45px;
    color: #0D1317;
    height: 170px;
    display: flex;
    align-items: center;
}
.ServiceText p{
    width: 550px;
    line-height: 28px;
    height: 150px; 
}
.ServiceButton{
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.ServiceButton:after {
    content: "\2192";
    color: #F58A07;
    width: 35px;
    font-family: 'Poppins', sans-serif;
}
.ServiceButton a{
    color: #F58A07;
}
/* section 6 ehlewe*/
.CTASection{
    display: flex;
    margin: 150px 0;
    
}
.CTALeft{
    background: url(./images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 620px;
}
.CTARight{
    background: #F58A07;
    width: 50%;
    height: 620px;
    padding:130px 160px 160px 160px;
}
.CTARight h2{
    color: white;
    font-size: 48px;
    width: 500px;
    font-weight: 600;
}
.CTAButton a{
    color: #F58A07;
} 
.CTAButton{
    width: 200px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
}
/* section 7*/
.VideoSection{
    display: flex;
    width: 1280px;
    height: 500px;
}
.VideoSection img{
    width: 640px;
    height: 500px;
}
.VideoLeft{
    width: 640px;
    height: 500px;
}
.VideoLeft h6{
    font-size: 45px;
    width: 550px;
}
.VideoLeft p{
    font-size: 18px;
    width: 550px;
    line-height: 35px;
}
.Person{
    display: flex;
    height: 80px;
    width: 250px;
}
.Person img{
    width: 80px;
    height: 80px;
    border-radius: 50px;

}
.Person h6{
    font-size: 25px;
}
.Person p{
    font-size: 18px;
}
.PlayIcon{
    color: #FFFFFF;
    font-weight: 600;
    width: 100px;
    height: 50px;
    background-color:black ;
}


