*{
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: flex-end;
}

h1 {
    color: #063255;
    width: 550px;
    height: 28px;
    display: flex;
    justify-content: start;

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 550px;
    height: 20px;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color: #063255;
}

.button {
    display: flex;
    width: 170px;
    height: 54px;
    flex-direction: row;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    justify-content: center;
    align-items: center;
}

.button a {
    color: #F58A07;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
section:nth-child(2){
    background:#DCEAF5;
    height:700px;
}
.headerText{
    width:400px;
}
h2{
    color: #1D3444;
    font-weight: bold;
    font-size: 40px;
}
.firstarticle{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.Headerimg{
    display: flex;
    align-items: flex-end;
    height: 703px;
} 
.buttons{
    background: #F58A07;
    width: 170px;
    height: 40px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons a{
    text-decoration: none;
    color: white;
}
.buttonservice{
    display: flex;
    width: 350px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 500px;
    display: flex;
    justify-content: space-between;
}