* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: flex-end;
}

h1 {
    color: #063255;
    width: 550px;
    height: 28px;
    display: flex;
    justify-content: start;

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 550px;
    height: 20px;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color: #063255;
}

.button {
    display: flex;
    width: 170px;
    height: 54px;
    flex-direction: row;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    justify-content: center;
    align-items: center;
}

.button a {
    color: #F58A07;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

section:nth-child(6) {
    background-color: #DCEAF5;
    height: 700px;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
section:nth-child(2),
section:nth-child(4) {
    background: #DCEAF5;
    height: 700px;
}

.headerText {
    width: 600px;
}

h2 {
    color: #1D3444;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Headerimg {
    display: flex;
    align-items: flex-end;
    height: 703px;
}

.HeaderPar {
    color: #5B5B5B;
    line-height: 30px;
}

.buttons {
    background: #F58A07;
    width: 170px;
    height: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    color: white;
}

.buttonservice {
    display: flex;
    width: 330px;
    height: 60px;
    justify-content: space-between;
    align-items: end;
}

.worked {
    display: flex;
    height: 50px;
    align-items: end;
}

.Headerlogos {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

/* section2 ehlew*/
.HelpSection h2 {
    font-size: 50px;
    width: 60%;
    font-weight: 600;
    color: #1D3444;
    line-height: 55px;
    height: 210px;
    display: flex;
    align-items: end;
}

.HelpSection p {
    font-size: 16px;
    width: 60%;
    color: #5B5B5B;
    display: flex;
    height: 80px;
}
.HelpPosts {
    display: flex;
}
.Help {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.Help img {
    border-radius: 20px;
    width: 90%;
    height: 230px;
}
.Help h3 {
    font-size: 27px;
    color: #0D1317;
    font-weight: 500;
    height: 20px;
}
.Help p {
    color: #5B5B5B;
    width: 380px;
    line-height: 30px;
}

.HelpButtons a {
    text-decoration: none;
    color: #F58A07;
}

.HelpButtons:after {
    content: "\2192";
    color: #F58A07;
    width: 35px;
}

.HelpButtons {
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.HelpSection {
    height: 930px;
}

/* section 3 ehlew*/
.mainfeaures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}

.mainfeaures h4 {
    font-size: 35px;
    width: 49%;
    color: #0D1317;

}

.mainfeaures p{
    width: 40%;
    height: 150px;
    color: #1D3444;
    font-size: 18px;
}

.FeauresSquare {
    background: #FFFFFF;
    width: 30%;
    height: 280px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Feaures {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FeauresSquare img {
    width: 43px;
    height: 40px;
    /*
    display: flex;
    justify-content: flex-start;*/
}

.FeauresSquare h4 {
    font-size: 25px;
    color: #0D1317;
    margin: 0;
    height: 50px;
    align-items: center;
    display: flex;
    width: 80%;
}

.FeauresSquare p {
    line-height: 28px;
    width: 80%;
}

/* section 4 ehlewe*/
.AboutSection {
    display: flex;
    height: 1000px;
    align-items: center;
    width: 1280px;
}

.AboutSection img {
    width: 1400px;
    height: 700px;
    border-radius: 20px;
}

.AboutText {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AboutText h5 {
    width: 90%;
    line-height: 65px;
    font-size: 45px;
    margin-bottom:30px ;
}

.AboutText p {
    width: 90%;
    line-height: 28px;
    margin: 0;
    color: #5B5B5B;
}

.AboutFeature {
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 400px;
}

.Aboutt h5 {
    color: #F58A07;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    display: flex;
    height: 10px;
    align-items: start;
}

.Aboutt h6 {
    color: #0D1317;
    font-size: 25px;
    height: 4px;
}

.Aboutt p {
    line-height: 30px;
}

/* section 5 ehlewe*/
.ServiceSection {
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;
}

.ServiceText {
    width: 48%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ServiceSection img {
    width: 470px;
    height: 460px;
    
}

.ServiceText ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-around;

}
.ServiceText li {
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid #A8BCCC;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.ServiceText h6{
    width: 90%;
    line-height: 65px;
    font-size: 45px;
    color: #0D1317;
    height: 170px;
    display: flex;
    align-items: end;
    background-color: aqua;
}
.ServiceText p{
    width: 80%;
    line-height: 28px;
    height: 200px;
   
}
.ServiceButton{
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.ServiceButton:after {
    content: "\2192";
    color: #F58A07;
    width: 35px;
    font-family: 'Poppins', sans-serif;
}
.ServiceButton a{
    color: #F58A07;
    text-decoration: none;
}
/* section 6 ehlewe*/

